/*CSS Variables*/
:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

ul {
  padding: 0%;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--dark);
}

body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
}

.wrapper {
  display: grid;
  grid-gap: 1rem;
  text-align: center;
}

/*Navigation*/
.main-nav ul {
  display: grid;
  grid-gap: 20px;
  list-style: none;
  padding: 0% 0% 2% 0%;
  grid-template-columns: repeat(4, 1fr);
}

.link {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

.link:hover {
  background: var(--dark);
  color: var(--light);
}

button:hover {
  background: var(--dark);
  color: var(--light);
}

.article-name-link {
  text-decoration: none;
  color: #2098d1;
}

.home-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "articles articles image-home"
    "articles articles image-home";
}

.footer {
  padding: 2% 0% 5% 0%;
}

.articles {
  grid-area: articles;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0%;
  list-style: none;
  padding: 0%;
}
.single-article-card {
  text-align: center;
  padding: 0% 20% 0% 20%;
}

.articles li {
  padding: 0% 5% 0% 5%;
}

img {
  max-width: 100%;
}

.image-home {
  grid-area: image-home;
}

ul {
  margin: 0%;
}

.single-topic {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  line-height: 200%;
  list-style: none;
  margin: 0%;
}

/*Loader Component*/
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Underline link from centre */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #2098d1;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

/*Media Queries(500px)*/
@media (max-width: 500px) {
  .home-container {
    grid-template-areas: "articles ";
    text-align: center;
    justify-content: center;
  }
  .articles-header {
    text-align: center;
  }
  .single-article-card {
    text-align: center;
    padding: 0%;
    margin: 10%;
  }

  p {
    line-height: 2.5;
  }

  body {
    background: #ccc;
    margin: 30px 10px;
    line-height: 1.5;
  }

  select {
    background-color: var(--light);
  }

  ul {
    margin: 10%;
  }

  h2 {
    padding: 0%;
    margin: 0%;
    text-align: center;
  }
  .main-nav ul {
    grid-template-columns: repeat(1, 1fr);
    padding: 0% 0% 5% 0%;
    margin: 5%;
  }
  header {
    text-align: center;
    padding: 0%;
  }

  .single-topic {
    padding: 0%;
  }

  h2 {
    padding: 5%;
  }

  .articles {
    padding: 0% 2% 0% 2%;
    grid-template-columns: repeat(1, 1fr);
  }
  .image-home {
    grid-area: image-home;
    padding: 5%;
  }

  .image-home img {
    width: 50%;
    padding: 1rem;
  }
  button {
    background: var(--primary);

    text-decoration: none;
    text-align: center;
    color: var(--dark);
    margin: 5%;
    box-shadow: var(--shadow);
  }
}
